@font-face {
  font-family: "MiFuente";
  src: url("/fonts/Arapey/Arapey-Regular.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  font-family: "MiFuente", serif;
}

body {
  font-family: "Playfair Display", serif;
  min-height: 100vh;
  background: url("/imagenes/fondo3.jpg") center center/cover no-repeat;
}
